.welcome {
    display: flex;
    justify-content: center;
}

.welcome-image {
    position: relative;
    width: 90%;
    height: 250px;
    overflow: hidden;
}

.welcome-image img {
    width: 100%;
    height: auto;
}

.recipes-images {
    width: 92%;
    margin: 0 auto;
}

.recipe h2 {
    text-align: left;
    margin-left: 65px;
    font-size: 30px;
}

.recipe img {
    display: block;
    margin: 10px auto;
    width: 90%;
    border-radius: 10px;
}
