.welcome {
    display: flex;
    justify-content: center;
    padding: 40px 0 0 0;
}

.welcome-image {
    position: relative;
    width: 90%;
    height: 250px;
    overflow: hidden;
}

.welcome-image img {
    width: 100%;
    height: auto;
}

.recipes-images {
    width: 92%;
    margin: 0 auto;
}

.recipe h2 {
    text-align: left;
    margin-left: 65px;
    font-size: 30px;
}

.recipe img {
    display: block;
    margin: 10px auto;
    width: 90%;
    border-radius: 10px;
}



@media (max-width: 600px) {
    .welcome {
        padding: 100px 0 0 0;
    }
    .welcome-image {
        height: 80px;
    }

    .welcome-image img {
        width: 100%;
        height: auto;
    }

    .recipes-images {
        width: 100%;
        padding: -100px 0 0 0;
    }

    .recipe h2 {
        margin-left: 10px;
        font-size: 24px;
    }

    .recipe img {
        width: 100%;
    }
}